/AbstractRankMaker.class
/BankruptcyRateRankMaker.class
/MaxProfitRankMaker.class
/MeanProfitRankMaker.class
/NameAndRankArray.class
/ParetoRanking.class
/RankArray.class
/SettlementReader.class
/WinningAverageRankMaker.class
