/AntiTrendStrategy.class
/DayTradeStrategy.class
/MovingAverageStrategy.class
/Order.class
/RandomStrategy.class
/RsiStrategy.class
/SFSpreadStrategy.class
/SMovingAverageStrategy.class
/SRandomStrategy.class
/SRsiStrategy.class
/Strategy.class
/TrendStrategy.class
